@page { size: Landscape; margin: 0cm }

body{
    background: url("file:///home/biagni/Documentos/Certificados%20Pendientes/Python%20Script/templates/PAC/Ponente.png");
    background-position: center;
    background-size: cover;

    /*Participante*/
    /*https://i.ibb.co/WGQnfdV/Participante.png*/
    /*Ponente*/
    /*https://i.ibb.co/HqFmHKB/Ponente.png*/
    /*Organizador*/
    /*https://i.ibb.co/Gn4X0M2/Organizador.png*/
    /*Jurado*/
    /*https://i.ibb.co/sbfMFbh/Jurado.png*/
}

h1{
    position: absolute;
    width: 100%;
    top: 330px;
    color: black;
    text-align: center;    
    font-family: 'Allura', cursive;
    font-size: 58px;
}

.identification{
    position: absolute;
    top: 418px;
    display: inline-block;
    left: 510px;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
}

.number{
    position: absolute;
    bottom: -10px;
    left: 198px;
    font-family: 'Arial', sans-serif;
}

